.git
.gitignore
.github
.vscode
.idea

node_modules
.pnpm-store
.npm

.nuxt
.output
dist
.cache

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.codex-preview.out.log
.codex-preview.err.log

.DS_Store
Thumbs.db

.env
.env.*

public/assets/fonts

--host
